<%- include('partials/head.ejs') %>

    <title>Novo Usuário</title>
    </head>

    <body>
        <div class="container"></div><!-- main container-fluid -->
        <!--navBar-->
        <%- include('partials/menu.ejs') %>

            <!-- Inicio do conteúdo -->
            <div class="row card bg-light mt-2">
                <div class="col-12 card-body py-2 mx-auto bg-warning">
                    <hr>
                    <h2 class="dysplay-2 text-align-justify text-center text-break text-light">Novo Usuário</h2>
                    <hr>
                </div>


                <div class="pt-3 container"><!--Div de Itens - Conteúdo-->
                    <div class="row px-5"> <!-- Linha de conteúdo -->

                        <div class="col-12 mb-3"> <!-- 1º item de conteúdo -->
                            <div class="card shadow rounded">
                                <div class="card-body">
                                    <form name="formClientes" id="formClientes" method="post" action="/novo-usuario">
                                        <!-- Dados pessoais -->
                                        <%- include('partials/cadastro_usuario')%>
                                        <br><hr><br>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-12"></div>
                                        <div class="col-2 d-flex justify-content-end ms-auto me-0">
                                            <button class="btn btn-primary form-control">Gravar</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>




            <!-- Rodapé-->
            <%- include('partials/footer.ejs') %>

                <script>
                    var frm = document.forms
                    //Tabular com Enter
                    function tabularComEnter(e) {
                        if (e.keyCode == 13) {
                            if ((e.target.type != 'submit') || (e.target.tagName != 'BUTTON')) {
                                e.preventDefault();
                            }

                            let foco = document.activeElement;
                            for (let i in frm) {
                                for (let j in frm[i]) {
                                    if (frm[i][j] === foco) {
                                        frm[i][parseInt(j) + 1].focus()
                                        break;
                                    }
                                }
                            }
                        }

                    }

                    function formatarCPF(cpf) {
                        //mais formatos de validação https://aurelio.net/regex/html5/pattern.html
                        const elementoAlvo = cpf
                        const cpfAtual = cpf.value
                        let cpfAtualizado
                        // xxx.xxx.xxx-xx
                        cpfAtualizado = cpfAtual.replace(
                            /(\d{3})(\d{3})(\d{3})(\d{2})/,
                            function (regex, argumento1, argumento2, argumento3, argumento4) {
                                return argumento1 + '.' + argumento2 + '.' + argumento3 + '-' + argumento4
                            }
                        );
                        elementoAlvo.value = cpfAtualizado;
                    }
                    function copiarTelefone(){
                        console.log(frm.telefone)
                        console.log(frm.whatsapp)
                        frm[0].whatsapp.value = frm[0].telefone.value
                        frm[0].whatsapp.focus()
                    }

        

                    /*let select = frm.formClientes.uf.options
                    for (i in select){
                        if (select[i].value.toLowerCase() == resultado.uf.toLowerCase()){
                            select[i].selected=true
                            break
                        } else {
                            select[0].selected=true
                        }
                    }*/



                    /* Formatação e validação de inputs utilizando apenas HTML5
                       Data = type="date" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" min="2012-01-01" max="2014-02-18"
                       Hora = type="time" pattern="[0-9]{2}:[0-9]{2} [0-9]{2}$"
                       Telefone = pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$";
                       Apenas letras = pattern="[a-z\s]+$"
                       Apenas números = pattern="[0-9]+$"
                       E-mail = type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                       Campos obrigatórios = required="required";
                       Quantidade mínima de caracteres = minlength="x"
                   */



                </script>
    </body>

    </html>